footer {
    text-align: center;
}
footer p {
    line-height: 175%;
    margin-bottom: 2%;
    font-size: 16px;
}
footer #mail:visited {
    color: rgb(29, 201, 201);
}
footer #mail {
    /* text-decoration: none; */
    color: rgb(29, 201, 201);;
}
footer #mail:hover {
    color: aquamarine
}