#animation {
    margin-top: 15%;
}


body {
    background: linear-gradient(to right, rgb(41, 28, 111), rgb(15, 10, 93));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(29, 201, 201);
    line-height: 350%;
}
h1, h2, h3 {
    line-height: 115%;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
p {
    font-size: 2rem;
}
#home {
    border-style: solid;
    border-color: rgb(41, 28, 111)
}

@media only screen and (max-width: 1280px) {    
    h1 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    body {
        line-height: 250%;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.5rem;
    }
    #jobs ul {
        font-size: 1.2rem;
    }
}