#projectSection {
    padding: 3%;
}
#projectSection ul {
    list-style-type: none;
    display: inline;
}
#projectSection li {
    display: inline;
}
#projectSection a {
    text-decoration: none;
    color: rgb(113, 223, 186);
}
#projectSection a:visited {
    color: rgb(113, 223, 186);
}
#projectSection a:hover {
    color: aqua
}
#projectSection ul li div {
    border-style: solid;
    border-color: rgb(166, 163, 163);
    border-radius: 10%;
    border-width: 1px;
    padding: 5%;
    background-color: rgb(36, 30, 112, 0.39)
}
#projectSection img {
    width: 100%
}
#projectSection p {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #projectSection {
        text-align: center;
        margin-top: 5%;
    }
}